$grey: #e9e9eb;
$blue: #0b81ff;

.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  &__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
  }

  &__userCard {
    background-color: $blue !important;
  }

  &__guestCard {
    background-color: $grey !important;
  }
}
